In [29]:
import numpy as np
import pandas as pd

In [30]:
# 23. Given a DataFrame of numeric values, say

# df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
# how do you subtract the row mean from each element in the row?
df = pd.DataFrame(np.random.random(size=(5, 3))) 
print(df)
# print(list(map(lambda x:print(x),df)))
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0  0.119716  0.076363  0.859251
1  0.870794  0.127536  0.173040
2  0.795665  0.143326  0.892196
3  0.474819  0.563856  0.397180
4  0.071136  0.683530  0.372812

          0         1         2
0 -0.232061 -0.275413  0.507474
1  0.480337 -0.262921 -0.217417
2  0.185270 -0.467069  0.281800
3 -0.003800  0.085237 -0.081438
4 -0.304690  0.307704 -0.003015

In [28]:

# 24. Suppose you have DataFrame with 10 columns of real numbers, for example:

# df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
# Which column of numbers has the smallest sum? (Find that column's label.)
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

print(df)

print(min(df.sum(axis=0)))

          a         b         c         d         e         f         g  \
0  0.555167  0.780785  0.358890  0.456861  0.911854  0.621409  0.232338
1  0.803773  0.392910  0.804176  0.849282  0.141850  0.963423  0.376495
2  0.648619  0.456188  0.873693  0.863461  0.934337  0.953846  0.575582
3  0.411361  0.416726  0.602978  0.607431  0.609659  0.576993  0.440350
4  0.909686  0.894532  0.650423  0.692423  0.624782  0.223664  0.593529

          h         i         j
0  0.892846  0.332381  0.756347
1  0.868628  0.053898  0.178299
2  0.294570  0.978821  0.886000
3  0.266799  0.973247  0.677174
4  0.778980  0.076318  0.431861
2.2182936641852224